/.DS_Store
/Bomet High Court_High Court Div-13042024_112038.xls
/Bomet High Court_High Court Div-14042024_111424.xls
/Bomet High Court_High Court Div-14042024_111428.xls
/Bomet High Court_High Court Div-14042024_113139.xls
/Bungoma High Court_High Court Div-13042024_112613.xls
/Bungoma High Court_High Court Div-14042024_111958.xls
/Bungoma High Court_High Court Div-14042024_112000.xls
/Bungoma High Court_High Court Div-14042024_113659.xls
/Busia High Court_High Court Civil-13042024_112124.xls
/Busia High Court_High Court Civil-14042024_111512.xls
/Busia High Court_High Court Civil-14042024_111516.xls
/Busia High Court_High Court Civil-14042024_113228.xls
/Busia High Court_High Court Criminal-13042024_112131.xls
/Busia High Court_High Court Criminal-14042024_111518.xls
/Busia High Court_High Court Criminal-14042024_111523.xls
/Busia High Court_High Court Criminal-14042024_113234.xls
/Chuka High Court_High Court Div-13042024_111629.xls
/Chuka High Court_High Court Div-14042024_111038.xls
/Chuka High Court_High Court Div-14042024_111039.xls
/Chuka High Court_High Court Div-14042024_112756.xls
/Combined
/Eldama Ravine High Court (Sub-registry)_High Court Div-13042024_112708.xls
/Eldama Ravine High Court (Sub-registry)_High Court Div-14042024_112100.xls
/Eldama Ravine High Court (Sub-registry)_High Court Div-14042024_112102.xls
/Eldama Ravine High Court (Sub-registry)_High Court Div-14042024_113803.xls
/Eldoret High Court_Court Annexed Mediation-13042024_111920.xls
/Eldoret High Court_Court Annexed Mediation-14042024_111314.xls
/Eldoret High Court_Court Annexed Mediation-14042024_111317.xls
/Eldoret High Court_Court Annexed Mediation-14042024_113030.xls
/Eldoret High Court_High Court Civil-13042024_112115.xls
/Eldoret High Court_High Court Civil-14042024_111503.xls
/Eldoret High Court_High Court Civil-14042024_111508.xls
/Eldoret High Court_High Court Civil-14042024_113219.xls
/Eldoret High Court_High Court Criminal-13042024_111913.xls
/Eldoret High Court_High Court Criminal-14042024_111307.xls
/Eldoret High Court_High Court Criminal-14042024_111311.xls
/Eldoret High Court_High Court Criminal-14042024_113024.xls
/Eldoret High Court_High Court Family-13042024_112641.xls
/Eldoret High Court_High Court Family-14042024_112027.xls
/Eldoret High Court_High Court Family-14042024_112030.xls
/Eldoret High Court_High Court Family-14042024_113728.xls
/Embu High Court_High Court Div-13042024_111737.xls
/Embu High Court_High Court Div-14042024_111141.xls
/Embu High Court_High Court Div-14042024_111143.xls
/Embu High Court_High Court Div-14042024_112859.xls
/Garissa High Court_High Court Div-13042024_111614.xls
/Garissa High Court_High Court Div-14042024_111024.xls
/Garissa High Court_High Court Div-14042024_111026.xls
/Garissa High Court_High Court Div-14042024_112741.xls
/Garsen High Court_High Court Div-13042024_112332.xls
/Garsen High Court_High Court Div-14042024_111726.xls
/Garsen High Court_High Court Div-14042024_111731.xls
/Garsen High Court_High Court Div-14042024_113429.xls
/Homabay High Court_High Court Div-13042024_112141.xls
/Homabay High Court_High Court Div-14042024_111527.xls
/Homabay High Court_High Court Div-14042024_111532.xls
/Homabay High Court_High Court Div-14042024_113243.xls
/Iten High Court (Sub Registry)_High Court Div-13042024_112655.xls
/Iten High Court (Sub Registry)_High Court Div-14042024_112044.xls
/Iten High Court (Sub Registry)_High Court Div-14042024_112046.xls
/Iten High Court (Sub Registry)_High Court Div-14042024_113744.xls
/Kabarnet High Court_High Court Div-13042024_112511.xls
/Kabarnet High Court_High Court Div-14042024_111854.xls
/Kabarnet High Court_High Court Div-14042024_111855.xls
/Kabarnet High Court_High Court Div-14042024_113557.xls
/Kajiado High Court_High Court Div-13042024_112028.xls
/Kajiado High Court_High Court Div-14042024_111416.xls
/Kajiado High Court_High Court Div-14042024_111419.xls
/Kajiado High Court_High Court Div-14042024_113130.xls
/Kakamega High Court_High Court Civil-13042024_112046.xls
/Kakamega High Court_High Court Civil-14042024_111433.xls
/Kakamega High Court_High Court Civil-14042024_111437.xls
/Kakamega High Court_High Court Civil-14042024_113148.xls
/Kakamega High Court_High Court Criminal-13042024_112105.xls
/Kakamega High Court_High Court Criminal-14042024_111453.xls
/Kakamega High Court_High Court Criminal-14042024_111457.xls
/Kakamega High Court_High Court Criminal-14042024_113208.xls
/Kakamega High Court_High Court Family-13042024_112055.xls
/Kakamega High Court_High Court Family-14042024_111442.xls
/Kakamega High Court_High Court Family-14042024_111446.xls
/Kakamega High Court_High Court Family-14042024_113158.xls
/Kapenguria High Court_High Court Div-13042024_111901.xls
/Kapenguria High Court_High Court Div-14042024_111256.xls
/Kapenguria High Court_High Court Div-14042024_111300.xls
/Kapenguria High Court_High Court Div-14042024_113014.xls
/Kapsabet High Court_High Court Div-13042024_112649.xls
/Kapsabet High Court_High Court Div-14042024_112037.xls
/Kapsabet High Court_High Court Div-14042024_112039.xls
/Kapsabet High Court_High Court Div-14042024_113737.xls
/Kericho High Court_High Court Div-13042024_112453.xls
/Kericho High Court_High Court Div-14042024_111837.xls
/Kericho High Court_High Court Div-14042024_111838.xls
/Kericho High Court_High Court Div-14042024_113540.xls
/Kerugoya High Court_High Court Div-13042024_112436.xls
/Kerugoya High Court_High Court Div-14042024_111822.xls
/Kerugoya High Court_High Court Div-14042024_111824.xls
/Kerugoya High Court_High Court Div-14042024_113525.xls
/Kiambu High Court_High Court Div-13042024_111820.xls
/Kiambu High Court_High Court Div-14042024_111217.xls
/Kiambu High Court_High Court Div-14042024_111218.xls
/Kiambu High Court_High Court Div-14042024_112930.xls
/Kibera High Court_High Court Div-13042024_112723.xls
/Kibera High Court_High Court Div-14042024_112120.xls
/Kibera High Court_High Court Div-14042024_112122.xls
/Kibera High Court_High Court Div-14042024_113825.xls
/Kilgoris High Court_High Court Div-13042024_112631.xls
/Kilgoris High Court_High Court Div-14042024_112018.xls
/Kilgoris High Court_High Court Div-14042024_112020.xls
/Kilgoris High Court_High Court Div-14042024_113717.xls
/Kisii High Court_High Court Civil-13042024_112201.xls
/Kisii High Court_High Court Civil-14042024_111551.xls
/Kisii High Court_High Court Civil-14042024_111557.xls
/Kisii High Court_High Court Civil-14042024_113301.xls
/Kisii High Court_High Court Criminal-13042024_112208.xls
/Kisii High Court_High Court Criminal-14042024_111600.xls
/Kisii High Court_High Court Criminal-14042024_111605.xls
/Kisii High Court_High Court Criminal-14042024_113309.xls
/Kisumu High Court_High Court Civil-13042024_112625.xls
/Kisumu High Court_High Court Civil-14042024_112010.xls
/Kisumu High Court_High Court Civil-14042024_112013.xls
/Kisumu High Court_High Court Civil-14042024_113710.xls
/Kisumu High Court_High Court Criminal-13042024_112559.xls
/Kisumu High Court_High Court Criminal-14042024_111942.xls
/Kisumu High Court_High Court Criminal-14042024_111944.xls
/Kisumu High Court_High Court Criminal-14042024_113645.xls
/Kisumu High Court_High Court Family-13042024_112544.xls
/Kisumu High Court_High Court Family-14042024_111926.xls
/Kisumu High Court_High Court Family-14042024_111928.xls
/Kisumu High Court_High Court Family-14042024_113629.xls
/Kitale High Court_High Court Div-13042024_111854.xls
/Kitale High Court_High Court Div-14042024_111248.xls
/Kitale High Court_High Court Div-14042024_111252.xls
/Kitale High Court_High Court Div-14042024_113007.xls
/Kitui High Court_High Court Div-13042024_111640.xls
/Kitui High Court_High Court Div-14042024_111047.xls
/Kitui High Court_High Court Div-14042024_111048.xls
/Kitui High Court_High Court Div-14042024_112806.xls
/Kwale High Court_High Court Div-13042024_112728.xls
/Kwale High Court_High Court Div-14042024_112126.xls
/Kwale High Court_High Court Div-14042024_112128.xls
/Kwale High Court_High Court Div-14042024_113831.xls
/Lodwar High Court_High Court Div-13042024_112342.xls
/Lodwar High Court_High Court Div-14042024_111735.xls
/Lodwar High Court_High Court Div-14042024_111739.xls
/Lodwar High Court_High Court Div-14042024_113436.xls
/Machakos High Court_High Court Div-13042024_111700.xls
/Machakos High Court_High Court Div-14042024_111106.xls
/Machakos High Court_High Court Div-14042024_111107.xls
/Machakos High Court_High Court Div-14042024_112824.xls
/Makueni High Court_High Court Div-13042024_112356.xls
/Makueni High Court_High Court Div-14042024_111747.xls
/Makueni High Court_High Court Div-14042024_111751.xls
/Makueni High Court_High Court Div-14042024_113450.xls
/Malindi High Court_High Court Civil-13042024_111556.xls
/Malindi High Court_High Court Civil-14042024_111007.xls
/Malindi High Court_High Court Civil-14042024_111009.xls
/Malindi High Court_High Court Civil-14042024_112725.xls
/Malindi High Court_High Court Criminal-13042024_111605.xls
/Malindi High Court_High Court Criminal-14042024_111016.xls
/Malindi High Court_High Court Criminal-14042024_111017.xls
/Malindi High Court_High Court Criminal-14042024_112733.xls
/Mandera High Court (Sub Registry)_High Court Div-13042024_112713.xls
/Mandera High Court (Sub Registry)_High Court Div-14042024_112105.xls
/Mandera High Court (Sub Registry)_High Court Div-14042024_112108.xls
/Mandera High Court (Sub Registry)_High Court Div-14042024_113809.xls
/Maralal High Court (Sub Registry)_High Court Div-13042024_112718.xls
/Maralal High Court (Sub Registry)_High Court Div-14042024_112110.xls
/Maralal High Court (Sub Registry)_High Court Div-14042024_112113.xls
/Maralal High Court (Sub Registry)_High Court Div-14042024_113814.xls
/Marsabit High Court_High Court Div-13042024_111621.xls
/Marsabit High Court_High Court Div-14042024_111030.xls
/Marsabit High Court_High Court Div-14042024_111031.xls
/Marsabit High Court_High Court Div-14042024_112748.xls
/Meru High Court_MERU HIGH COURT-13042024_111838.xls
/Meru High Court_MERU HIGH COURT-14042024_111235.xls
/Meru High Court_MERU HIGH COURT-14042024_111239.xls
/Meru High Court_MERU HIGH COURT-14042024_112951.xls
/Migori High Court_High Court Div-13042024_112151.xls
/Migori High Court_High Court Div-14042024_111538.xls
/Migori High Court_High Court Div-14042024_111543.xls
/Migori High Court_High Court Div-14042024_113251.xls
/Milimani High Court_Court Annexed Mediation-13042024_111337.xls
/Milimani High Court_Court Annexed Mediation-14042024_110758.xls
/Milimani High Court_Court Annexed Mediation-14042024_110759.xls
/Milimani High Court_Court Annexed Mediation-14042024_112525.xls
/Milimani High Court_High Court Anti Corruption and Economic Crimes-13042024_111521.xls
/Milimani High Court_High Court Anti Corruption and Economic Crimes-14042024_110932.xls
/Milimani High Court_High Court Anti Corruption and Economic Crimes-14042024_112651.xls
/Milimani High Court_High Court Civil-13042024_111326.xls
/Milimani High Court_High Court Civil-14042024_110747.xls
/Milimani High Court_High Court Civil-14042024_112516.xls
/Milimani High Court_High Court Commercial and Tax-13042024_112323.xls
/Milimani High Court_High Court Commercial and Tax-14042024_111714.xls
/Milimani High Court_High Court Commercial and Tax-14042024_111718.xls
/Milimani High Court_High Court Commercial and Tax-14042024_113420.xls
/Milimani High Court_High Court Constitution and Human Rights-13042024_111513.xls
/Milimani High Court_High Court Constitution and Human Rights-14042024_110926.xls
/Milimani High Court_High Court Constitution and Human Rights-14042024_112644.xls
/Milimani High Court_High Court Criminal-13042024_111355.xls
/Milimani High Court_High Court Criminal-14042024_110814.xls
/Milimani High Court_High Court Criminal-14042024_110815.xls
/Milimani High Court_High Court Criminal-14042024_112542.xls
/Milimani High Court_High Court Family-13042024_111458.xls
/Milimani High Court_High Court Family-14042024_110911.xls
/Milimani High Court_High Court Family-14042024_110912.xls
/Milimani High Court_High Court Family-14042024_112630.xls
/Milimani High Court_High Court Judicial Review-13042024_111240.xls
/Milimani High Court_High Court Judicial Review-14042024_110707.xls
/Milimani High Court_High Court Judicial Review-14042024_110708.xls
/Milimani High Court_High Court Judicial Review-14042024_112437.xls
/Mombasa High Court_CHR and JR-13042024_112424.xls
/Mombasa High Court_CHR and JR-14042024_111812.xls
/Mombasa High Court_CHR and JR-14042024_111814.xls
/Mombasa High Court_CHR and JR-14042024_113514.xls
/Mombasa High Court_High Court Civil-13042024_112415.xls
/Mombasa High Court_High Court Civil-14042024_111805.xls
/Mombasa High Court_High Court Civil-14042024_111807.xls
/Mombasa High Court_High Court Civil-14042024_113507.xls
/Mombasa High Court_High Court Commercial and Tax-13042024_111526.xls
/Mombasa High Court_High Court Commercial and Tax-14042024_110938.xls
/Mombasa High Court_High Court Commercial and Tax-14042024_110939.xls
/Mombasa High Court_High Court Commercial and Tax-14042024_112658.xls
/Mombasa High Court_High Court Criminal-13042024_111547.xls
/Mombasa High Court_High Court Criminal-14042024_110958.xls
/Mombasa High Court_High Court Criminal-14042024_112718.xls
/Mombasa High Court_High Court Family-13042024_112537.xls
/Mombasa High Court_High Court Family-14042024_111919.xls
/Mombasa High Court_High Court Family-14042024_111921.xls
/Mombasa High Court_High Court Family-14042024_113622.xls
/Muranga High Court_High Court Div-13042024_111753.xls
/Muranga High Court_High Court Div-14042024_111157.xls
/Muranga High Court_High Court Div-14042024_111158.xls
/Muranga High Court_High Court Div-14042024_112913.xls
/Naivasha High Court_High Court Div-13042024_111943.xls
/Naivasha High Court_High Court Div-14042024_111333.xls
/Naivasha High Court_High Court Div-14042024_111336.xls
/Naivasha High Court_High Court Div-14042024_113047.xls
/Nakuru High Court_High Court Civil-13042024_111956.xls
/Nakuru High Court_High Court Civil-14042024_111344.xls
/Nakuru High Court_High Court Civil-14042024_111347.xls
/Nakuru High Court_High Court Civil-14042024_113058.xls
/Nakuru High Court_High Court Criminal-13042024_112017.xls
/Nakuru High Court_High Court Criminal-14042024_111405.xls
/Nakuru High Court_High Court Criminal-14042024_111408.xls
/Nakuru High Court_High Court Criminal-14042024_113121.xls
/Nakuru High Court_High Court Family-13042024_112006.xls
/Nakuru High Court_High Court Family-14042024_111355.xls
/Nakuru High Court_High Court Family-14042024_111358.xls
/Nakuru High Court_High Court Family-14042024_113109.xls
/Nanyuki High Court_High Court Div-13042024_111928.xls
/Nanyuki High Court_High Court Div-14042024_111322.xls
/Nanyuki High Court_High Court Div-14042024_111326.xls
/Nanyuki High Court_High Court Div-14042024_113038.xls
/Narok High Court_High Court Div-13042024_112519.xls
/Narok High Court_High Court Div-14042024_111902.xls
/Narok High Court_High Court Div-14042024_111904.xls
/Narok High Court_High Court Div-14042024_113607.xls
/Nyahururu High Court_High Court Div-13042024_112225.xls
/Nyahururu High Court_High Court Div-14042024_111614.xls
/Nyahururu High Court_High Court Div-14042024_111619.xls
/Nyahururu High Court_High Court Div-14042024_113323.xls
/Nyamira High Court_High Court Civil-13042024_112215.xls
/Nyamira High Court_High Court Civil-14042024_111607.xls
/Nyamira High Court_High Court Civil-14042024_111612.xls
/Nyamira High Court_High Court Civil-14042024_113315.xls
/Nyamira High Court_High Court Criminal-13042024_112526.xls
/Nyamira High Court_High Court Criminal-14042024_111909.xls
/Nyamira High Court_High Court Criminal-14042024_111910.xls
/Nyamira High Court_High Court Criminal-14042024_113614.xls
/Nyandarua High Court_High Court Div-13042024_112733.xls
/Nyandarua High Court_High Court Div-14042024_112134.xls
/Nyandarua High Court_High Court Div-14042024_112136.xls
/Nyandarua High Court_High Court Div-14042024_113840.xls
/Nyeri High Court_High Court Civil-13042024_111709.xls
/Nyeri High Court_High Court Civil-14042024_111113.xls
/Nyeri High Court_High Court Civil-14042024_111114.xls
/Nyeri High Court_High Court Civil-14042024_112831.xls
/Nyeri High Court_High Court Criminal-13042024_111725.xls
/Nyeri High Court_High Court Criminal-14042024_111131.xls
/Nyeri High Court_High Court Criminal-14042024_111132.xls
/Nyeri High Court_High Court Criminal-14042024_112849.xls
/Nyeri High Court_High Court Family-13042024_111718.xls
/Nyeri High Court_High Court Family-14042024_111122.xls
/Nyeri High Court_High Court Family-14042024_111123.xls
/Nyeri High Court_High Court Family-14042024_112840.xls
/Siaya High Court_High Court Div-13042024_112502.xls
/Siaya High Court_High Court Div-14042024_111847.xls
/Siaya High Court_High Court Div-14042024_111848.xls
/Siaya High Court_High Court Div-14042024_113549.xls
/Thika High Court_High Court Div-13042024_112702.xls
/Thika High Court_High Court Div-14042024_112053.xls
/Thika High Court_High Court Div-14042024_112056.xls
/Thika High Court_High Court Div-14042024_113756.xls
/Vihiga High Court_High Court Div-13042024_112552.xls
/Vihiga High Court_High Court Div-14042024_111934.xls
/Vihiga High Court_High Court Div-14042024_111936.xls
/Vihiga High Court_High Court Div-14042024_113637.xls
/Voi High Court_High Court Div-13042024_111536.xls
/Voi High Court_High Court Div-14042024_110947.xls
/Voi High Court_High Court Div-14042024_112707.xls
/Wajir High Court_High Court Div-13042024_112442.xls
/Wajir High Court_High Court Div-14042024_111827.xls
/Wajir High Court_High Court Div-14042024_111829.xls
/Wajir High Court_High Court Div-14042024_113530.xls